In [5]:
import pandas as pd
import numpy as np
import json

from sklearn.metrics import precision_score, recall_score

# Read data and scores dict

In [9]:
df = pd.read_csv("data/warm_up_data.csv")

In [10]:
with open('data/AFINN-111-scores.json', 'r') as fp:
     scores_dict = json.load(fp)

List unique airlines within the dataframe

array(['Virgin America', 'United', 'Southwest', 'Delta', 'US Airways',
       'American'], dtype=object)

# Data preparation

Convert airline sentiment column to numeric class

# Assign text sentiment score based on scores dict

Write assign_score function, which will summarize scores of all words present within scores_dict and calculate sentiment_score_hat for each tweet

In [1]:
def assign_score(text):
    score = 0
    """calculate score here"""
    return score

In [2]:
df["sentiment_score_hat"] = ...

NameError: name 'df' is not defined

## Split sentiment scores to class

Write a classify_sentiment functions, which will assign label numeric labels [-1,0,1] for based on predicted sentiment score. Recommended use of pd.cut

In [244]:
def classify_sentiment(score_col, negative_th, positive_th):
    """assign class here here"""
    return score_class

In [245]:
df.sentiment_score_hat.describe()

count    9489.000000
mean        0.284540
std         2.853243
min       -13.000000
25%        -2.000000
50%         0.000000
75%         2.000000
max        16.000000
Name: sentiment_score_hat, dtype: float64

In [246]:
df["sentiment_class_hat"] = classify_sentiment(...)

Create a correct_classification bool column defining if our prediction is correct

In [247]:
df["correct_classification"] = ...

## Evaluate classification performance per class

Evaluate accuracy by class

airline_sentiment
negative    0.609733
neutral     0.261321
positive    0.848869
Name: correct_classification, dtype: float64

# Select only negative and positive texts

Create df_np dataframe as subset of df excluding neutral (0) sentiment class

In [249]:
df_np = ...

In [250]:
df_np.head()

,index,tweet_id,airline_sentiment,text,airline,sentiment_class_true,sentiment_score_hat,sentiment_class_hat,correct_classification
0,0,570301031407624196,negative,@VirginAmerica it's really aggressive to blast...,Virgin America,-1,-5,-1,True
1,1,570300817074462722,negative,@VirginAmerica and it's a really big bad thing...,Virgin America,-1,-2,-1,True
2,2,570300767074181121,negative,@VirginAmerica seriously would pay $30 a fligh...,Virgin America,-1,-4,-1,True
3,4,570295459631263746,positive,"@VirginAmerica it was amazing, and arrived an ...",Virgin America,1,3,1,True
4,6,570289724453216256,positive,@VirginAmerica I &lt;3 pretty graphics. so muc...,Virgin America,1,3,1,True
...,...,...,...,...,...,...,...,...,...
8137,9482,569588651925098496,positive,Thank you. “@AmericanAir: @jlhalldc Customer R...,American,1,2,1,True
8138,9483,569588464896876545,negative,@AmericanAir thx for nothing on getting us out...,American,-1,-1,-1,True
8139,9485,569587705937600512,negative,@AmericanAir my flight was Cancelled Flightled...,American,-1,-1,-1,True
8140,9486,569587686496825344,positive,@AmericanAir thank you we got on a different f...,American,1,2,1,True
8141,9487,569587371693355008,negative,@AmericanAir leaving over 20 minutes Late Flig...,American,-1,-7,-1,True

## Calculate Precision and Recall for classifying negative review

Precision = TP / TP + FP

Recall = TP / TP + FN

Create negative_review and negative_review_hat bool column for negative review detection classifier and calculate Precision and Recall

In [251]:
df_np["negative_review"] = ...

In [252]:
df_np["negative_review_hat"] =  ...

0.9708176100628931

0.6097329751935535